.actions {
    display: flex;
    gap: 10px; /* วแใำวษ ศํไ วแราัวัก ํใ฿ไ฿ สฺฯํแๅว ฿ใว สิวม */
    margin: 10px 0; /* วแใำวษ ใไ วแรฺแ์ ๆวแรำแ */
}

button {
    padding: 10px 20px; /* สฺฯํแ อฬใ วแราัวั */
    font-size: 16px; /* อฬใ วแฮุ ํ วแราัวั */
    cursor: pointer; /* สํํั วแใฤิั ฺไฯ วแสใัํั ๆ วแราัวั */
}