.actions {
    display: flex;
    gap: 10px; /* วแใำวÝษ ศํไ วแราัวัก ํใ฿ไ฿ สฺฯํแๅว ฿ใว สิวม */
    margin: 10px 0; /* วแใำวÝษ ใไ วแรฺแ์ ๆวแรำÝแ */
}

button {
    padding: 10px 20px; /* สฺฯํแ อฬใ วแราัวั */
    font-size: 16px; /* อฬใ วแฮุ Ýํ วแราัวั */
    cursor: pointer; /* สÛํํั วแใฤิั ฺไฯ วแสใัํั ÝๆÞ วแราัวั */
}